h5.footer {
  padding: 0;
  text-align: left;
  font-size: smaller;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

p.footer-paragraph {
  font-style: italic;
  font-size: small;
  padding: 0px 30px 0px 30px;
}

nav.footer > div.container > div.row > div.col > span.navbar-text {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

nav.footer > div.container > div.row > div.col > a {
  color: black;
  text-align: center;
  font-style: italic;
  font-size: smaller;
}

p.footer-copyright {
  color: white;
}
