img#logo {
  border-radius: 30%;
}

a.navbar-brand,
a.nav-link,
nav.navbar {
  padding: 0;
  margin: 0;
  text-align: right;
}

.offcanvas-black-font {
  color: black;
}
.nav-link-black {
  color: black !important;
}

.nav-link-white {
  color: white !important;
}

.bg-body-purple {
  background-color: #251552 !important;
}
